<h1>Create Content</h1>

<label for="idInp">ID: </label>
<input type="text" id="idInp" name="idInput" #id><br><br>

<label for="titleInp">Title: </label>
<input type="text" id="titleInp" name="titleInput" #title><br><br>

<label for="descInp">Description: </label>
<input type="text" id="descInp" name="descInput" #desc><br><br>

<label for="creatorInp">Creator: </label>
<input type="text" id="creatorInp" name="creatorInput" #creator><br><br>

<label for="urlInp">Image URL (Optional): </label>
<input type="text" id="urlInp" name="urlInput" #url><br><br>

<label for="typeInp">Content Type (Optional): </label>
<input type="text" id="typeInp" name="typeInput" #type><br><br>

<label>Tags (Optional): </label>
<input type="text" id="tag1Inp" name="tag1Input" #tag1>
<input type="text" id="tag2Inp" name="tag2Input" #tag2>
<input type="text" id="tag3Inp" name="tag3Input" #tag3><br><br>

<button (click)="addContent(id.value, title.value, desc.value, creator.value, url.value, type.value, tag1.value, tag2.value, tag3.value)">Add Content</button><br><br>

