div.content {
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}

div.first {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

div.article {
    background-color: cadetblue;
}
 
div.blog {
    background-color: chartreuse;
}

div.none {
    background-color: coral;
}

p.exists {
    color: green;
}

p.notExists {
    color: red;
}